extends ../layout/main

block variables
  - var title = 'Цены';
  - var description = 'Страница контакты';
  - var pageClass = 'index';
  


block content
    .prices.wrapper-section
        img(src="../assets/img/background/bg-prices.png").prices-background.img-background
        .container
            .prices-wrapper
                .prices-header
                    h1.prices-header__title.title Цены
                .prices-content
                    <ul class="prices-content__list">
                        <li class="prices-content__item"> 
                            <div class="prices-content__title prices-content__item-title">
                                <span class="prices-content__left">Окрашивание на американском красителе Paul Mitchell</span>
                                <div class="prices-content__right"> 
                                    <span class="prices-content__plus">-</span>
                                </div>
                            </div>
                        
                            <ul class="prices-content__1lv-list open">
                                <li lass="prices-content__1lv-item">
                                    <div class="prices-content__1lv-title prices-content__item-title">
                                        <a class="prices-content__1lv-left" href="#">Окрашивание стойким красителем The color корни</a>
                                        <div class="prices-content__1lv-right">
                                            <div class="prices-content__1lv-button"> 
                                                <button class="prices-content__entry" type="submit" id="product-modal__menu" data-item-name="Педикюр аппаратный класический" data-item-src="">Запись</button>
                                            </div>
                                            <div class="prices-content__1lv-price">1500 ₽</div>
                                        </div>
                                    </div>	
                                </li>  
                                <li lass="prices-content__1lv-item">
                                    <div class="prices-content__1lv-title prices-content__item-title">
                                        <a class="prices-content__1lv-left" href="#">Окрашивание стойким красителем The color корни</a>
                                        <div class="prices-content__1lv-right">
                                            <div class="prices-content__1lv-button"> 
                                                <button class="prices-content__entry" type="submit" id="product-modal__menu" data-item-name="Педикюр аппаратный класический" data-item-src="">Запись</button>
                                            </div>
                                            <div class="prices-content__1lv-price">1500 ₽</div>
                                        </div>
                                    </div>	
                                </li>  
                                <li lass="prices-content__1lv-item">
                                    <div class="prices-content__1lv-title prices-content__item-title">
                                        <a class="prices-content__1lv-left" href="#">Окрашивание стойким красителем The color корни</a>
                                        <div class="prices-content__1lv-right">
                                            <div class="prices-content__1lv-button"> 
                                                <button class="prices-content__entry" type="submit" id="product-modal__menu" data-item-name="Педикюр аппаратный класический" data-item-src="">Запись</button>
                                            </div>
                                            <div class="prices-content__1lv-price">1500 ₽</div>
                                        </div>
                                    </div>	
                                </li>  
                                <li lass="prices-content__1lv-item">
                                    <div class="prices-content__1lv-title prices-content__item-title">
                                        <a class="prices-content__1lv-left" href="#">Окрашивание стойким красителем The color корни</a>
                                        <div class="prices-content__1lv-right">
                                            <div class="prices-content__1lv-button"> 
                                                <button class="prices-content__entry" type="submit" id="product-modal__menu" data-item-name="Педикюр аппаратный класический" data-item-src="">Запись</button>
                                            </div>
                                            <div class="prices-content__1lv-price">1500 ₽</div>
                                        </div>
                                    </div>	
                                </li>  
                                <li lass="prices-content__1lv-item">
                                    <div class="prices-content__1lv-title prices-content__item-title">
                                        <a class="prices-content__1lv-left" href="#">Окрашивание стойким красителем The color корни</a>
                                        <div class="prices-content__1lv-right">
                                            <div class="prices-content__1lv-button"> 
                                                <button class="prices-content__entry" type="submit" id="product-modal__menu" data-item-name="Педикюр аппаратный класический" data-item-src="">Запись</button>
                                            </div>
                                            <div class="prices-content__1lv-price">1500 ₽</div>
                                        </div>
                                    </div>	
                                </li>                                                        
                            </ul>  
                        </li>  
                        <li class="prices-content__item"> 
                            <div class="prices-content__title prices-content__item-title">
                                <span class="prices-content__left">Окрашивание на американском красителе Joico</span>
                                <div class="prices-content__right"> 
                                    <span class="prices-content__plus">+</span>
                                </div>
                            </div>
                        </li>  
                        <li class="prices-content__item"> 
                            <div class="prices-content__title prices-content__item-title">
                                <span class="prices-content__left">Биологическая завивка и буфон Paul Mitchell </span>
                                <div class="prices-content__right"> 
                                    <span class="prices-content__plus">+</span>
                                </div>
                            </div>                                                  
                        </li>      
                        <li class="prices-content__item"> 
                            <div class="prices-content__title prices-content__item-title">
                                <span class="prices-content__left">Модельные стрижки</span>
                                <div class="prices-content__right"> 
                                    <span class="prices-content__plus">+</span>
                                </div>
                            </div>                                                  
                        </li>
                         <li class="prices-content__item"> 
                            <div class="prices-content__title prices-content__item-title">
                                <span class="prices-content__left">Укладки</span>
                                <div class="prices-content__right"> 
                                    <span class="prices-content__plus">+</span>
                                </div>
                            </div>                                                  
                        </li>                                                   
                    </ul> 
                            
                        